POSTGRES_USER=POSTGRES
POSTGRES_PASSWORD=POSTGRES
POSTGRES_DB=POSTGRES
DB_PORT=54332
POSTGRES_MAX_CONNECTIONS=100
DATABASE_URL="postgresql://POSTGRES:POSTGRES@localhost:54332/POSTGRES"
DIRECT_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public"

BETTER_AUTH_SECRET=32_BYTE_SECRET_KEY
BETTER_AUTH_URL=http://localhost:3000

MINIO_ROOT_USER=minioAdmin
MINIO_ROOT_PASSWORD=minioAdmin

# MinIO S3 Storage Configuration
MINIO_ENDPOINT=http://localhost:9000
STORAGE_PROVIDER=minio

MINIO_REGION=us-east-1
MINIO_USE_SSL=false

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL="http://localhost:3000/api"


NEXT_PUBLIC_SUPABASE_URL=SUPABASE_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=SUPABASE_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY

# Resend Email Configuration (Transactional Emails Only)
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=noreply@domain
CONTACT_EMAIL=contact@domain

# MailerLite Configuration (Newsletter/Marketing Emails Only) https://dashboard.mailerlite.com/integrations/api
MAILERLITE_API_KEY=your_mailerlite_api_key_here
MAILERLITE_WEBHOOK_SECRET=your_webhook_signing_secret_here # Generate with: openssl rand -hex 32
MAILERLITE_SUBSCRIBERS_GROUP_ID=your_mailerlite_subscribers_group_id_here

# Vercel Cron Secret (Generate with: openssl rand -base64 32)
CRON_SECRET=your_cron_secret_here

# https://console.upstash.com/redis
UPSTASH_REDIS_REST_URL=https://your-actual-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token_here 
